@import "tailwindcss";
@theme {
    --text-shadow-glow: 0 0 10px rgba(255, 255, 255, 0.68);
    --text-shadow-glow-red: 10px 0 10px rgba(238, 34, 34, 0.5);
    --text-shadow-glow-green: 10 0 10px rgba(41, 238, 34, 0.5);
}